# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\dario\OneDrive - University of Illinois - Urbana\First Semester\Applied Aerodynamics\Project Aerodynamics\Panel_method\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
